In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import floor

In [2]:
from sklearn.linear_model import LinearRegression

In [6]:
df = pd.DataFrame(
    {
    "area" : [2600, 3000, 3200, 3600, 4000],
    "bedrooms": [3,4,np.NaN, 3,5],
    "age": [20, 15, 18, 30, 8],
    "price": [550000, 565000, 610000, 595000, 760000]
    }
)

In [7]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [9]:
missing = floor(df.bedrooms.median())

In [10]:
missing

3

In [12]:
df.fillna(missing, inplace=True)

In [13]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [14]:
X = df.iloc[:,:-1].values
X

array([[2.6e+03, 3.0e+00, 2.0e+01],
       [3.0e+03, 4.0e+00, 1.5e+01],
       [3.2e+03, 3.0e+00, 1.8e+01],
       [3.6e+03, 3.0e+00, 3.0e+01],
       [4.0e+03, 5.0e+00, 8.0e+00]])

In [15]:
y = df.iloc[:, -1].values

In [16]:
model =LinearRegression()

In [17]:
model.fit(X,y)

LinearRegression()

In [20]:
y_pred = model.predict(X)

In [21]:
y_pred

array([526000., 589000., 622000., 595000., 748000.])

In [23]:
model.predict([[5000,6,2]])

array([900175.])